* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "DM Sans";
}

.wrapper {
  margin: 93px 160px 0 160px;
  min-height: 2461px;
  min-width: 1120px;
}

body {
  background: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
}

.header-nav {
  display: flex;
}

.header-nav p {
  margin: 0 29px 0 0;
  font: 500 22px "DM Sans";
  color: #181717;
}

.header-nav p:nth-child(4) {
  margin: 0;
}

.logo {
  width: 60px;
  height: 50.4px;
  background: url(/assets/hs..svg) no-repeat;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 128px 0 128px 0;
  align-items: center;
}

.main h1 {
  font: 500 60px "DM Sans";
}

.main p {
  font: 400 32px "DM Sans";
  color: #606060;
}

main {
  max-width: 1120px;
}

.main {
  max-width: 1120px;
  margin-top: 128px;
}

.arrow {
  background: url(./assets/↓.svg) no-repeat;
  width: 34px;
  height: 40px;
  margin: 0 0 83px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 1120px;
  height: 1647px;
}

.project {
  display: flex;
  height: 364px;
  margin: 0 0 108px 0;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0 128px 0 0;
}

.name {
  font: 500 24px "DM Sans";
  margin: 0 0 25px 0;
}

.description {
  width: 364px;
  font: 400 22px "DM Sans";
  margin: 0 0 18px 0;
}

.languages {
  width: 364px;
  height: 65px;
  font: 400 22px "DM Sans";
  margin: 0 0 150px 0;
  color: #606060;
}

.shots {
  font: 500 22px "DM Sans";
  text-decoration: underline;
}

.photo {
  background: #606060;
  width: 640px;
  height: 364px;
}

.projects:last-child {
  margin: 0 0 128px 0;
}

.line {
  border: 1px solid #181717;
  width: 1115px;
  margin: 0 0 108px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  font: 500 22px "DM Sans";
  max-width: 1120px;
}

footer .footer-name {
  color: #2429af;
}

.links {
  display: flex;
  margin: 0 60px 0 0;
}

.links a {
  text-decoration: none;
  margin: 0 32px 0 0;
}

.links a:last-child {
  margin: 0;
}
