* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "DM Sans";
}

body {
  background: #e5e5e5;
  width: 1120px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 0 109px 0;
  padding: 95px 0 0 0;
}

.logo {
  width: 60px;
  height: 50.4px;
  background: url(/assets/hs..svg) no-repeat;
}

li {
  list-style: none;
}

.list ul {
  display: flex;
  justify-content: space-between;
  width: 385px;
  height: 20px;
  font: 500 22px "DM Sans";
  color: #181717;
}

main {
  margin: 0 0 109px 0;
}

.main-contact {
  display: flex;
  justify-content: space-between;
}

.main-contact input {
  width: 676px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding-left: 22px;
}

input::placeholder {
  color: #c4c4c4;
}

.btn {
  width: 160px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: #181717;
  color: white;
  border-radius: 10px;
}

.contacts h1 {
  font: 500 60px "DM Sans";
  margin: 0 0 32px 0;
}

.contacts p {
  font: 400 22px "DM Sans";
  margin: 0 0 52px 0;
}

.left-side {
  display: flex;
  height: 192px;
  flex-direction: column;
  justify-content: space-between;
}

.right-side {
  width: 390px;
  max-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts .right-side p {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  font: 500 22px "DM Sans";
  max-width: 1120px;
  margin: 0 0 176px 0;
}

footer .footer-name {
  color: #2429af;
}

.links {
  display: flex;
  margin: 0;
}

.links a {
  text-decoration: none;
  margin: 0 32px 0 0;
}

.links a:last-child {
  margin: 0 35px 0 0;
}
